.idea
database-docker/postgres-data

# Java and Maven
target/
*.class
*.log
*.ctxt
# Package Files #
*.jar
*.war
*.ear

# Eclipse #
.project
.classpath
.settings/

# IDEA #
.idea/
*.iml
*.ipr
*.iws
out/

# NetBeans #
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# Maven
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# OS Specific
.DS_Store
Thumbs.db
